<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<webServices>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<customErrors mode="Off"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
		<pages/></system.web>
	<appSettings>
		<add key="USD_WS.USD_R11_WebService" value="http://localhost:8080/axis/services/USD_R11_WebService"/>
		<add key="doc_rep" value="Centre de services"/>
		<add key="upload_path" value="E:\Program Files\CA\Service Desk Manager\site\attachments\default\servicedesk\files"/>
	</appSettings>
</configuration>